html, body {
    width: auto;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 36px;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

label {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    display: block;
    margin-bottom: 8px;
    color: #0c0c0c;
    font-size: 0.833rem/1.4;
}

textarea {
    display: block;
    border-radius: 2px;
    padding: 8px;
    width: auto;
    border: 1px solid rgba(12, 12, 13, 0.2);
}

textarea::placeholder {
    color: #737373;
    font-size: 0.833rem/1.4;
}

textarea:hover {
    border: 1px solid rgba(12, 12, 13, 0.3);
}

textarea:focus {
    border: 1px solid #0a84ff;
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.hidden {
    display: none;
}
